@font-face{
    font-family: invasion;
    src: url("font/invasion.ttf")
}

p{
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
    padding-bottom: 40px;
}

#link{
    color: white;
}
h1{
    font-style: normal; color: white;
}
#produk{
    width: 400px; height: 150px;
}

.box{
    background-color: black;
    -webkit-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.75);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-family: 'invasion';
}